<!DOCTYPE html>
<html>

<head>
    <title>Input Page</title>
</head>

<body>
    <form method="post" action="/display_list">
        <label>Enter a first and last name (or lists of each):</label>
        <input type="text" name="first_name">
        <input type="text" name="last_name">
        <input type="submit" value="Submit">
    </form>
    <p>Bonus feature! If the person you are searching for has multiple O2CM accounts,
        you can enter comma-delimited lists of first names and last names.
        The calculator will add the results from these accounts together.
        Make sure there are an equal number of first names and last names in each list.</p>
</body>

</html>